<!--FORMULARIO-->
<form class="form-horizontal col-sm-offset-2 col-sm-8" name="formCRUD" style="background: #ccc; border-radius: 20px">
    <h3 class="text-center" style="color: #FF3604">
        Datos del Profesionales
    </h3>
    <div class="form-group" >
        <label for="txtMatricula" class="col-sm-3 control-label">Matricula:</label>
        <div class="col-sm-7">
            <input ng ng-model="profesional.matricula" pattern="^([A-Z]|[a-z]){2}\u002D\d{4}$" 
                   type="text" name="txtMatricula" class="form-control" placeholder="Matricula Ej. AA-0000:" required
                   ng-disabled="isModificacion" ng-change="matriculaRepetida=false">
            <span class="text-danger" ng-show="formCRUD.txtMatricula.$error.pattern">
                <span class="glyphicon glyphicon-warning-sign"></span>
                Matricula Invalida
            </span>
            <span class="text-danger" ng-show="matriculaRepetida">
                <span class="glyphicon glyphicon-warning-sign"></span>
                La Matricula ya Existe
            </span>
            <span class="text-danger" ng-show="formCRUD.txtMatricula.$error.required">
                <span class="glyphicon glyphicon-warning-sign"></span>
                requerido
            </span>
        </div>
    </div>
    
    <div class="form-group" >
        <label class="col-sm-3 control-label">Apellido:</label>
        <div class="col-sm-7">
            <input ng-model="profesional.apellido" type="text" class="form-control" name="txtApellido" placeholder="Apellido:" required>
            <span class="text-danger" ng-show="formCRUD.txtApellido.$error.required">
                <span class="glyphicon glyphicon-warning-sign"></span>
                requerido
            </span>
        </div>
    </div>

    <div class="form-group" >
        <label class="col-sm-3 control-label">Nombre:</label>
        <div class="col-sm-7">
            <input ng-model="profesional.nombres" type="text" class="form-control" 
                   name="txtNombre" placeholder="Nombre:" required>
            <span class="text-danger" ng-show="formCRUD.txtNombre.$error.required">
                <span class="glyphicon glyphicon-warning-sign"></span>
                requerido
            </span>
        </div>
    </div>

    <div class="form-group" >
        <label for="txtFecha" class="col-sm-3 control-label">Fecha Mat.:</label>
        <div class="col-sm-7">
            <input ng-model="profesional.fechaMatriculacion" pattern="^([1-9]|0[1-9]|[12][0-9]|3[01])[/]([1-9]|0[1-9]|1[012])[/](19|20)\d\d$" type="txt" class="form-control" name="txtFecha" placeholder="dd/MM/yyyy" required>
            <span class="text-danger" ng-show="formCRUD.txtFecha.$error.required">
                <span class="glyphicon glyphicon-warning-sign"></span>
                requerido
            </span>
            <span class="text-danger" ng-show="formCRUD.txtFecha.$error.pattern">
                <span class="glyphicon glyphicon-warning-sign"></span>
                invalido
            </span>
        </div>
    </div>
    
    <div class="form-group" >
        <label for="txtEmail" class="col-sm-3 control-label">Email:</label>
        <div class="col-sm-7">
            <input ng-model="profesional.email" type="text" class="form-control" pattern="\b[a-zA-Z._0-9]*\u0040\b[a-zA-Z]*[.]\b[a-zA-Z]*" 
                   name="txtEmail" placeholder="e-mail">
            <span class="text-danger" ng-show="formCRUD.txtEmail.$error.pattern">
                <span class="glyphicon glyphicon-warning-sign"></span>
                invalido
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="ambito" class="col-sm-3 control-label">Ambito:</label>
        <div class="col-sm-7">
            <input ng-model="profesional.ambito" value="p" type="radio" class="radio-inline">Prov
            <input ng-model="profesional.ambito" value="n" type="radio" class="radio-inline" >Nac
        </div>
    </div>

    <div class="form-group" id="especialidad" >
        <label for="especialidad" class="col-sm-3 control-label">Especialidad:</label>
        <div class="col-sm-7">
            <select class="form-control" ng-model="profesional.tipoProfesion">
                <option value="Clinico">Clinico</option>
                <option value="Odontologo">Odontologo</option>
                <option value="Oftalmologo">Oftalmologo</option>
                <option value="Traumatologo">Traumatologo</option>
                <option value="Pediatra">Pediatra</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
    </div>

    <div class="form-group" >
        <label class="col-sm-3 control-label">Estado:</label>
        <div class="col-sm-7">
            <input type="checkbox" ng-model="profesional.estado" 
                   ng-true-value="'1'" ng-false-value="'0'">
        </div>
    </div>

    <div class="text-center text-info" id="mensaje"></div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-success" ng-click="addProfesional()"
                    ng-disabled="formCRUD.$invalid"
                    ng-show="!isModificacion">
                <span class=" glyphicon glyphicon-floppy-save"></span>
                Agregar 
            </button>
            <button type="button" class="btn btn-primary" ng-click="updateProfesional()"
                    ng-disabled="formCRUD.$invalid"
                    ng-show="isModificacion">
                <span class="glyphicon glyphicon-pencil"></span>
                Modificar
            </button>
            <button type="button" class="btn btn-danger" ng-click="limpiarForm()">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </button>
        </div>
    </div>

</form>

<!--TABLA-->
<h3 class="text-center" style="color: #FF3604">
    Profesionales
</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover" style="background: white" ng-table="tableParams">
        <tr class="active">
            <th>Matricula</th>
            <th>apellido</th>
            <th>nombres</th>
            <th>Email</th>
            <th>Especialidad</th>
            <th>Ambito</th>
            <th>Estado</th>
            <th>Acciones</th>

        </tr>
        <tr ng-repeat="p in $data">
            <td>{{p.matricula | uppercase}}</td>
            <td>{{p.apellido}}</td>
            <td>{{p.nombres}}</td>
            <td>{{p.email}}</td>
            <td>{{p.tipoProfesion}}</td>
            <td>{{p.ambito}}</td>
            
            <td><input type="checkbox" ng-model="p.estado" 
                   ng-true-value="'1'" ng-false-value="'0'" disabled></td>
            <td nowrap>
                <button type="button" class="btn btn-info glyphicon glyphicon-pencil" ng-click="seleccionarProfesional(p)" title="Editar"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteProfesional(p)" title="Eliminar"></button>
            </td>
            
        </tr>
    </table>
